body{
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


   
    width: 100vw;
    overflow:hidden;
}
div{
    margin-top:100px;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    display:none;
    flex-direction:column;
}
form{
    width:80%;
    height:200px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow:hidden;
    text-align: center;
    font-weight:bold;
    padding-top:3em;
    justify-content: center;
    margin:auto;
    margin-top:20vh;
    border-radius:15px 7px;
    border:15px solid white;
    animation: blink1 4s infinite;
}
@keyframes blink1{
    0%{
        border-color:rgba(24,87,16,.7);
    }
   
    25%{
        border-color:rgba(52,207,116,.7);
    }
     50%{
        border-color:rgba(75,112,98,.7);
    }
     100%{
        border-color:rgba(91,81,53,.7)
    }
}
input{
    display: block;
    margin:auto;
    margin-top:30px;
    border-radius: 15px;
    border:0;
    padding-left:10px
    
}
#button{
    display: block;
    border:0;
    margin:auto;
    margin-top:8px;
}
table{
    width:80%;
    border-spacing: 0;
    border:2px solid black;
    font-size:5vw;
    border-radius:10px 5px;
    animation: blink 2s infinite;
}
@keyframes blink{
    0%{
       
       border-color:red;
    }
    100%{
        
        border-color:blue;
    }
}

td{
    border-right:2px solid black;
     animation: blink2 2s infinite;
    
}
@keyframes blink2{
    0%{
       
       border-color:red;
    }
     
    100%{
        
        border-color:blue;
    }
}
.c1{
   text-align:right;
   padding-right:5px;
}
.c2{
    padding-left:5px;
}
p{
    font-size:18px;
    padding-left:12px;
    padding-right:12px;
}
